<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>HarmonicSS</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>PatientSelectionImpl</display-name>
    <servlet-name>PatientSelectionImpl</servlet-name>
    <servlet-class>xmlWrapper.PatientSelectionImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PatientSelectionImpl</servlet-name>
    <url-pattern>/PatientSelectionImpl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CriterionsTestServlet</display-name>
    <servlet-name>CriterionsTestServlet</servlet-name>
    <servlet-class>xmlWrapper.CriterionsTestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CriterionsTestServlet</servlet-name>
    <url-pattern>/CriterionsTestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>xmlWrapper.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginOCSServlet</display-name>
    <servlet-name>LoginOCSServlet</servlet-name>
    <servlet-class>xmlWrapper.LoginOCSServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginOCSServlet</servlet-name>
    <url-pattern>/LoginOCSServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestXMLfilesServlet</display-name>
    <servlet-name>RequestXMLfilesServlet</servlet-name>
    <servlet-class>xmlWrapper.RequestXMLfilesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestXMLfilesServlet</servlet-name>
    <url-pattern>/RequestXMLfilesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MidServiceForReqRespList</display-name>
    <servlet-name>MidServiceForReqRespList</servlet-name>
    <servlet-class>xmlWrapper.MidServiceForReqRespList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MidServiceForReqRespList</servlet-name>
    <url-pattern>/MidServiceForReqRespList</url-pattern>
  </servlet-mapping>
</web-app>